<section class="text-center py-5">
  <div class="row">

    <div class="d-flex align-items-stretch col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-5"
      *ngFor="let video of videos">

      <mdb-card cascade="true" narrower="true" class="card-ecommerce">

        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">
            <img [src]="video.thumbnailUrl" class="videos_img" alt="..."></a>
        </div>
        

        <mdb-card-body cascade="true" class="text-center">

          <mdb-card-title>
            <h5><a class="videos_title"
                href="https://www.youtube.com/watch?v={{video.id}}"></a></h5>
            <div class="videos_suptitle">{{video.description}}</div>
          </mdb-card-title>

          <mdb-card-footer class="px-1">
            <span class="float-right">
              <a class="active" data-toggle="tooltip" data-placement="top"
                title="Add to my favorites">
                <mdb-icon fas icon="star" class="ml-3"></mdb-icon>
              </a>
            </span>
          </mdb-card-footer>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</section>